{% extends 'base.html.twig' %}


{% block title %}Bienvenue{% endblock %}


{% block body %}

<h1 class="text-center py-5">Bienvenue</h1>

<div class="d-flex justify-content-center py-5">

<img class = "d-flex justify-content-center" src="{{ asset('build/images/logo.png') }}" alt="ACME logo">
</div>
{% endblock %}