{% extends 'base.html.twig' %}


{% block title %}Wild Series
{% endblock %}

{% block body %}

{% for episode in episodes %}
  <li><a href="{{ path("program_episode_show", { programId: program.id, seasonId: season.id, episodeId: episode.id}) }}">EP n°{{episode.number}}: {{ episode.title }}</a></li>
{% endfor %}
{% endblock %}